.card-roxo-button{
    font-size: 16px;
    text-align: center;//alinhar o texto no centro da div
    margin-top: 10px;//borda do topo
    border-radius: 25px;
    background-color: #a05d69;
    cursor: pointer;//mouse altera para uma mãozinha de clique
    font-weight: bold;
    padding:10px;
}