<div class="ca-c-card">
    <div class="ca-c-card__header ca-c-card__header--bg-blue">
        <div class="ca-c-card__header-title" >
            <img src="class-infos-card__header-icon" alt="" src="../../../assets/icons/icon-client.png">
            <h1>Informações do cliente</h1>
        </div>
    
    </div>
    <div class="ca-c-card__content">
        <div class="client-infos-card__content-item">
            <p>Nome</p>
            <p>Matheus Bernardo</p>
        </div>

        <div class="class-infos-card__content-line"></div>

        <div class="client-infos-card__content-item">
            <p>Idade </p>
            <p>22 anos</p>
        </div>

        <div class="class-infos-card__content-line"></div>

        <div class="client-infos-card__content-item">
            <p>Renda Mensal </p>
            <p>R$1000,00</p>
        </div>

        <div class="class-infos-card__content-line"></div>

        <div class="client-infos-card__content-item">
            <p>Nacionalidade </p>
            <p>Brasileiro</p>
        </div>

        <div class="class-infos-card__content-line"></div>



    </div>
</div>